<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10951599377-d071m6pgdfli2qalve7kq59vvgul6ole.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10951599377-d071m6pgdfli2qalve7kq59vvgul6ole</string>
	<key>API_KEY</key>
	<string>AIzaSyAhpC2ICts0sqUheHW8tay7SRioD9ynCcM</string>
	<key>GCM_SENDER_ID</key>
	<string>10951599377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-d0ee8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-d0ee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10951599377:ios:60423360a16e8e0b1d58b0</string>
</dict>
</plist>