<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10951599377-pq4j7it6t37jf8uge4njjipfmj7d4uht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10951599377-pq4j7it6t37jf8uge4njjipfmj7d4uht</string>
	<key>API_KEY</key>
	<string>AIzaSyAhpC2ICts0sqUheHW8tay7SRioD9ynCcM</string>
	<key>GCM_SENDER_ID</key>
	<string>10951599377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-d0ee8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-d0ee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10951599377:ios:b4d7ea61d42c33601d58b0</string>
</dict>
</plist>